/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #ff7c7c;
    overflow: hidden;
    color: white;
    animation: bgColorChange 10s infinite alternate;
}

/* Banner Animation */
@keyframes bannerMove {
    0% {
        top: -50px;
    }
    100% {
        top: 20px;
    }
}

.banner {
    position: absolute;
    top: -50px;
    width: 100%;
    background-color: #ffff00;
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    color: #000;
    padding: 10px;
    animation: bannerMove 3s ease-in-out infinite alternate;
    animation-delay: 1s;
    letter-spacing: 2px;
}

.banner span {
    color: #ff00ff;
    animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}

/* Container */
.container {
    position: relative;
    z-index: 1;
    padding: 50px;
    height: 100vh;
    overflow: hidden;
    text-align: center;
}

/* Header */
.header {
    position: relative;
    margin-bottom: 50px;
    z-index: 10;
}

.header h1 {
    font-size: 4em;
    color: #fff;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

.header p {
    font-size: 1.5em;
    color: #fff;
    margin-top: 10px;
}

/* Shapes Animations */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.random-shape {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #fff;
    opacity: 0.8;
    border-radius: 50%;
    animation: fall 5s infinite, rotate 3s linear infinite;
}

@keyframes fall {
    0% {
        top: -50px;
    }
    100% {
        top: 100vh;
    }
}

.shape1 {
    background-color: #ff00ff;
}

.shape2 {
    background-color: #00ffff;
}

.shape3 {
    background-color: #ffcc00;
}

.shape4 {
    background-color: #ff5733;
}

.shape5 {
    background-color: #00ff00;
}

.shape6 {
    background-color: #ff6600;
}

/* Animation for the floating banner */
@keyframes bgColorChange {
    0% {
        background-color: #ff7c7c;
    }
    25% {
        background-color: #ffb3ff;
    }
    50% {
        background-color: #ffff00;
    }
    75% {
        background-color: #00ffff;
    }
    100% {
        background-color: #ff7c7c;
    }
}

/* Footer */
.footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    z-index: 10;
}

.footer p {
    font-size: 1.2em;
    font-weight: bold;
}

.footer a {
    text-decoration: none;
    color: #ff6600;
    font-size: 1.5em;
}

.footer a:hover {
    color: #00ffff;
    text-decoration: underline;
}
